body {
  font-family: Georgia, serif;
  background-color: #f0f0f0;
  color: #333;
  margin: 0;
  padding: 10px;
}

#highlighted {
  background-color: #c7c7c2;
  text-decoration: none;
  width: 70vw;
  display: block;
}
#icon {
  width: 50px;
  height: auto;
}
